# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: 
Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd

    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):    
    if (a % 2 == 0) and (b % 2 == 0):
        return min(a, b)    
    else:
        return max(a, b)

In [2]:
lesser_of_two_evens(2,4)

2

In [3]:
lesser_of_two_evens(7,5)

7

#### ANIMAL CRACKERS: 
Write a function takes a two-word string and returns True if both words begin with same letter

    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
animal_crackers = lambda s: s.split()[0][0].lower() == s.split()[1][0].lower()

In [5]:
animal_crackers('Levelheaded Llama')

True

In [6]:
animal_crackers('Crazy kangaroo')

False

#### MAKES TWENTY: 
Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [7]:
makes_twenty = lambda n1, n2: (n1 + n2 == 20) or (n1 == 20) or (n2 == 20)

In [8]:
makes_twenty(20,10)

True

In [9]:
makes_twenty(2,3)

False

In [10]:
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: 
Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [11]:
old_macdonald = lambda name: name[:3].capitalize() + name[3:].capitalize()

In [12]:
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: 
Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [13]:
master_yoda = lambda s: " ".join(s.split()[::-1])

In [14]:
master_yoda('I am home')

'home am I'

In [15]:
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: 
Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [16]:
almost_there = lambda n: (abs(n - 100) <= 10) or (abs(n - 200) <= 10)

In [17]:
almost_there(104)

True

In [18]:
almost_there(150)

False

In [19]:
almost_there(210)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of integers, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [32]:
has_33 =lambda nums: "33" in "".join(map(lambda nums: str(nums),nums))

In [33]:
has_33([1, 3, 3])

True

In [34]:
has_33([1, 3, 1, 3])

False

In [35]:
has_33([3, 1, 3])

False

#### PAPER DOLL: 
Given a string, return a string where for every character in the original there are three characters

    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [39]:
paper_doll = lambda s: "".join([char * 3 for char in s])

In [40]:
paper_doll('Hello')

'HHHeeellllllooo'

In [41]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: 
Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [61]:
def blackjack(a,b,c):    
    if (a > 11) or (b > 11) or (c > 11):
        return("The integers must be between 2 and 11!")    
    else:
        sum_all = sum([a, b, c])
        if sum_all <= 21:
            return sum_all       
        else: 
            count_11 = [a, b, c].count(11)
            while count_11 > 0:
                sum_all -= 10
                count_11 -= 1
                if sum_all <= 21:
                    return sum_all
            return "BUST"

In [62]:
# Check
blackjack(5,6,7)

18

In [63]:
# Check
blackjack(9,9,9)

'BUST'

In [64]:
# Check
blackjack(9,9,11)

19

In [65]:
blackjack(11,11,11)

13

#### SUMMER OF '69: 
Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [85]:
def summer_of_69(numbers):
    index_6 = 0
    index_9 = -1
    if 6 in numbers and 9 in numbers:
        index_6 = numbers.index(6)
        index_9 = numbers.index(9)
    return sum(numbers) - sum(numbers[index_6: index_9 + 1])

In [86]:
summer_of_69([1, 3, 5])

9

In [87]:
summer_of_69([4, 5, 6, 7, 8, 9])

9

In [88]:
summer_of_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: 
Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [1]:
spy_game = lambda numbers: "007" in "".join(
    map(lambda number: str(number), [num for num in numbers if num in [0, 7]]))

In [2]:
spy_game([1,2,4,0,0,7,5])

True

In [3]:
spy_game([1,0,2,4,0,5,7])

True

In [4]:
spy_game([1,7,2,0,4,5,0])

False

In [5]:
spy_game([0,1,7,2,0,4,5,0])

False

#### COUNT PRIMES: 
Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [21]:
def primes_up_to(upper_limit):
    primes = [2]
    for number in range(3, upper_limit + 1, 2):
        for dividend in range(3, number//2):
            if number % dividend == 0:
                break
        else:
            primes.append(number)
    return primes, len(primes)

In [22]:
primes_up_to(100)

([2,
  3,
  5,
  7,
  11,
  13,
  17,
  19,
  23,
  29,
  31,
  37,
  41,
  43,
  47,
  53,
  59,
  61,
  67,
  71,
  73,
  79,
  83,
  89,
  97],
 25)

In [ ]:
count_primes(100)

### Just for fun:
#### PRINT BIG: 
Write a function that takes in a single letter, and returns a 5x5 representation of that letter

    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [25]:
def print_big(letters):
    patterns = {1:'  *  ',
                2:' * * ',
                3:'*   *',
                4:'*****',
                5:'**** ',
                6:'   * ',
                7:' *   ',
                8:'*   * ',
                9:'*    '}
    alphabet = {'A':[1,2,4,3,3],
                'B':[5,3,5,3,5],
                'C':[4,9,9,9,4],
                'D':[5,3,3,3,5],
                'E':[4,9,4,9,4]}
    
    for char in list(letters.upper()):
        for pattern in alphabet[char]:
            print(patterns[pattern])
        print("")

In [26]:
print_big("abcde")

  *
 * *
*****
*   *
*   *

****
*   *
****
*   *
****

*****
*
*
*
*****

****
*   *
*   *
*   *
****

*****
*
*****
*
*****